.container {
  width: 1360px;
}
.a hover{
	background-color: yellow;
  color: yellow;
}
.container-3 {
  position: relative;
  }
  .image {
  min-height: 796px;
  overflow: hidden;
  padding: 0 0 15.4rem;
  position: relative;
  z-index: 149;
  background: url(images/shape_11.jpg) no-repeat center 0;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.text {
  max-width: 558px;
  min-height: 198px;
  padding: 0 10.307693% 20px; /* 67px / 650px = 10.307693% */
  position: relative;
  z-index: 0;
  -webkit-border-radius: 0 67px 0 0;
  -moz-border-radius: 0 67px 0 0;
  border-radius: 0 67px 0 0;
  background: #fef3c9;
  background-position: center center;
}
.title {
  position: relative;
  z-index: 159;
  color: #fd0303;
  font-size: 14.174587rem; /* 141.75px / 10px = 14.175rem */
  font-weight: bold;
  text-align: center;
}
.text-2 {
  margin: -16px 0.179211% 0 auto; /* 1px / 558px = 0.179211% */
  position: relative;
  z-index: 158;
  color: #0d4729;
  font-size: 5.548829rem; /* 55.49px / 10px = 5.549rem */
  font-weight: bold;
  text-align: right;
}
.button {
  margin: 9.3rem 0 0 8.615385%; /* 56px / 650px = 8.615385% */
  max-width: 322px;
  min-height: 65px;
  padding: 15px; /* 75px / 650px = 11.538462% */
  position: relative;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  background: #ffffff;
  background-position: center;
  color: #020000;
  font-size: 45px; /* 25px / 10px = 2.5rem */
  font-weight: bold;
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
}
.button hover{
	color:#0d4729;
}
.about {
  margin: -20px 0 0;
  min-height: 819px;
  overflow: hidden;
  position: relative;
  z-index: 123;
}
.background {
  background: #f5e192;
}
.image-2 {
  padding: 4.3rem 0 5.1rem;
  position: absolute;
  top: 0;
  width: 100%;
  background: #f5e192;
}
.text-4 {
  position: relative;
  font-size: 55px; /* 79.17px / 10px = 7.917rem */
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  color: black;
}
.text-5 {
  position: relative;
  font-size: 55px; /* 79.17px / 10px = 7.917rem */
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  color: white;
}
.text-7 {
  margin-left:75px;
  position: relative;
  font-size: 25px; /* 79.17px / 10px = 7.917rem */
  font-weight: bold;
  text-align: left;
  text-decoration: underline;
  color: white;
}
.text-6 {
  color: #060000;
  font-family: AnekGujarati, serif;
  position: relative;
  font-size: 35px; /* 79.17px / 10px = 7.917rem */
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  color: black;
}
.title-2 {
  margin-top: 125px;
  margin-left:100px;
  color: #010000;
  font-family: AnekGujarati, serif;
  font-weight: 525;
  font-size:35px;
  float:center;
}
.body-text {
  margin: 3.8rem 0 0 auto;
  color: #040101;
  font-size: 50px;
  font-weight: bold;
  text-align: right;
}
.rectangle-2 {
  height: 555px;
  float: center;
   margin-left:70px;
  width: 520px;
  margin-top: 70px;
  margin-bottom:70px;
  border: 1px solid #000000; /*stroke*/
  -webkit-border-radius: 93.5px;
  -moz-border-radius: 93.5px;
  border-radius: 93.5px;
  background: url(images/rectangle_2.png) no-repeat -0.5px -0.5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  -webkit-box-shadow: 0 12.5px 29px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 12.5px 29px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 12.5px 29px 0 rgba(0, 0, 0, 0.35); /*drop shadow*/
}
.image1 {
	position: relative;
    height: 237px;
   float: middle;
  max-width: 237px;
  width:  237px; /* 237px / 276px = 85.86957% */
  border: 1px solid #000000; /*stroke*/
  -webkit-border-radius: 118.61px;
  -moz-border-radius: 118.61px;
  border-radius: 118.61px;
  background: url(images/ellipse_1.png) no-repeat -0.5px -0.5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  -webkit-box-shadow: 0 5.5px 8px 0 rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 5.5px 8px 0 rgba(0, 0, 0, 0.45);
  box-shadow: 0 5.5px 8px 0 rgba(0, 0, 0, 0.45); /*drop shadow*/
}
.image2 {
 height: 237px;
  max-width: 237px;
  float: center;
  position: relative;
  width:  237px; /* 237px / 310px = 76.451614% */
  border: 1px solid #000000; /*stroke*/
  -webkit-border-radius: 118.61px;
  -moz-border-radius: 118.61px;
  border-radius: 118.61px;
  background: url(images/ellipse_1_copy.png) no-repeat -0.5px -0.5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  -webkit-box-shadow: 0 5.5px 8px 0 rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 5.5px 8px 0 rgba(0, 0, 0, 0.45);
  box-shadow: 0 5.5px 8px 0 rgba(0, 0, 0, 0.45); /*drop shadow*/
}
.image3 {
  height: 237px;
  float: center;
  max-width: 237px;
  width:  237px; /* 237px / 423px = 56.02837% */
  border: 1px solid #000000; /*stroke*/
  -webkit-border-radius: 118.61px;
  -moz-border-radius: 118.61px;
  border-radius: 118.61px;
  background: url(images/ellipse_1_copy_2.png) no-repeat -0.5px -0.5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  -webkit-box-shadow: 0 5.5px 8px 0 rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 5.5px 8px 0 rgba(0, 0, 0, 0.45);
  box-shadow: 0 5.5px 8px 0 rgba(0, 0, 0, 0.45); /*drop shadow*/
}
.ellipse1 {
  height: 460px;
  float:center;
  margin-top: 70px;
  margin-bottom:70px;
  max-width: 460px;
  width: 460px; /* 460px / 511px = 90.01957% */
  border: 1px solid #000000; /*stroke*/
  -webkit-border-radius: 230.23px;
  -moz-border-radius: 230.23px;
  border-radius: 230.23px;
  background: url(images/ellipse_2.png) no-repeat -0.5px -0.5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.title-7 {
  margin-top: 100px;
  font-size: 55px; /* 75px / 10px = 7.5rem */
  font-weight: bold;
}
.title-8 {
	margin-top:35px;
  margin-left: 75px;
  font-size: 30px; /* 75px / 10px = 7.5rem */
  font-weight: bold;
  color:white;
}
.body-text-3 {
  margin: 27px 0 0;
  font-family: AnekGujarati, serif;
  font-size: 33px; /* 33.33px / 10px = 3.333rem */
  line-height: 1.2;
}
.button-2 {
  margin: 7.1rem 0 30px 0.874126%; /* 5px / 572px = 0.874126% */
  max-width: 322px;
  min-height: 65px;
  padding:auto; /* 48px / 572px = 8.391608% */
  position: relative;
  -webkit-border-radius: 32.5px;
  -moz-border-radius: 32.5px;
  border-radius: 32.5px;
  background: #000000;
  background-position: center center;
  color: #ffffff;
  font-size: 30px; /* 33.33px / 10px = 3.333rem */
  font-weight: bold;
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
}
.form {
	left: 25%;
  min-height: 65px;
  position: relative;
  width: 657px; /* 770px / 770px = 100% */
  float:center;
}
.rectangle-3 {
	margin-top:45px;
	margin-right:25px;
  height: 245px;
  max-width: 677px;
  position: relative;
  width: 677px; /* 677px / 1270px = 53.307087% */
  border: 1px solid #000000; /*stroke*/
  background: url(images/rectangle_3.jpg) no-repeat -0.5px -0.5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.social-media {
  margin-left: 135px; /* 119px / 1330px = 8.947369% */
  position: absolute;
  width: 100%; /* 154px / 1270px = 12.125984% */

}
.instagram {
  left: -58px;
  max-width: 42px;
  position: relative;
  top: 0;
  width: 42px;

}
.facebook {
  width: 42px;
  left: -58px;
  max-width: 42px;
  position: relative;
  top: 0;
  width: 42px;
}
.twitter {
  width: 42px;
  left: -58px;
  max-width: 42px;
  position: relative;
  top: 0;
  width: 42px;
}
.whatsapp {
  width: 42px;
  left: -58px;
  max-width: 42px;
  position: relative;
  top: 0;
  width: 42px;
}